.work {
  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading {
    margin-bottom: 70px;
  }
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}