@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.work {
  background-color: $section1;
  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading {
    margin-bottom: 70px;
  }
}

.cards {
  display: grid;
  grid-template-columns: auto;
  gap: 30px;
  width: 100%;
  @include media-breakpoint-up(md) {
    width: auto;
    grid-template-columns: auto auto;
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: auto auto auto;
  }
}