@use 'src/styles/variables' as var;
@use 'src/styles/mixins' as *;

.hero {
  //background-image: url('../../img/background.jpg');

  /*
  background-image: url('../../img/dot.svg');
  background-size: 1%;

  */


  
  
  

  //background-image: url('../../img/flat-mountains.svg');
  /*
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 100% 100%;
  */
  //background-image: repeating-linear-gradient(45deg, rgba(97,97,97,0.1) 0px, rgba(97,97,97,0.1) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(43,43,43),rgb(43,43,43));
  
  height: 100svh;
  z-index: 1;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content {
  align-items: center;
}

.hero-content, .bottom-content {
  z-index: 3;
}

.hero-heading {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4em;
  font-weight: 400;
  color: var.$primary;
  text-align: center;
  line-height: 0;
  
  margin-bottom: 35px;
  @include media-breakpoint-up(sm) {
    font-size: 5em;
  }

  @include media-breakpoint-up(md) {
    font-size: 6em;
    margin-bottom: 45px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 8em;
    margin-bottom: 50px;
  }
}

.background-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(23,14,36,1) 0%, rgba(38,29,65,0.02) 100%);
  z-index: 2;
}

.hero-subheading {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.1em;
  color: var.$text-medium;
  text-align: center;
  margin: 0;
  @include media-breakpoint-up(lg) {
    font-size: 1.7em;
  }
}

.hero-contact {
  position: absolute;
  bottom: 30px;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: center;
  @include media-breakpoint-up(lg) {
    bottom: 50px;
  }
}

.hero-contact-inner {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin: 0 30px;
  @include media-breakpoint-up(lg) {
    margin: 0 50px;
  }
  @media only screen and (min-width: 1600px){
    width: var.$hero-width;
  }
}

.social-icons svg {
  stroke: var.$text-medium;
  transform: scale(1);
  transition: 0.2s ease-out;
  &:hover {
    stroke: var.$text-medium-hover;
    transform: scale(1.1);
  }
}

.social-icons, .email {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 260px;
  align-items: center;
  .vl {
    display: none;
    flex-grow: 1;
    border-left: 2px solid var.$text-medium;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}

.social-icons {
  justify-content: flex-end;
  @include media-breakpoint-up(lg) {
    justify-content: flex-start;
  }
}

.email {
  margin-left: auto;
  display: none;
  @include media-breakpoint-up(lg) {
    display: flex;
  }
  p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: var.$text-medium;
    margin: 0;
    line-height: 0;
  }
}