@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

// Image Fade In
.img-fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.img-loaded {
  opacity: 1;
}