@use 'src/styles/variables' as var;
@use 'src/styles/mixins' as mixin;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comme:wght@400;500;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: var.$font;
  color: var.$text-medium;
  background-color: var.$bg-dark;
  overflow-anchor: none;
  *::selection {
    color: white;
    background-color: var.$primary;
  }
}

button {
  font-family: var.$font;
}

p {
  font-size: var.$text;
  line-height: 1.6em;
  max-width: 650px;
  margin: 0;
}

.heading {
  font-size: 6em;
  line-height: 0.9em;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  color: var.$primary;
  margin: 0;
  margin-block-end: -15px;
}

.heading-sm {
  font-size: 1.2em;
  color: white;
  margin: 0 0 0.7em 0;
}

label {
  color: var.$primary;
  font-size: 1em;
  margin: 0 0 0.7em 0;
  font-weight: 600;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0 300px 0;

}

.section-content {
  @include mixin.section-width();
  display: flex;
  flex-direction: column;
  //gap: 50px;
}

.button {
  text-decoration: none;
  background-color: var.$button-bg;
  border: 0;
  border-radius: 15px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-out;
  color: var.$button-text;
  font-family: var.$font;
  font-size: 1em;
  font-weight: 700;
  transition: 0.2s ease-out;
  &:hover {
    cursor: pointer;
    background-color: var.$button-bg-hover;
    color: var.$button-text-hover;
  }
}

