@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comme:wght@400;500;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: $font;
  color: $text-medium;
  background-color: $bg-dark;
  overflow-anchor: none;
  scroll-behavior: smooth;
  *::selection {
    color: white;
    background-color: $primary;
  }
}

button {
  font-family: $font;
}

p {
  font-size: $text;
  line-height: 1.6em;
  max-width: 650px;
  margin: 0;
}

.heading {
  font-size: 4em;
  line-height: 0.9em;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  color: $primary;
  margin: 0;
  margin-block-end: -15px;
  @include media-breakpoint-up(lg) {
    font-size: 6em;
  }
}

.heading-sm {
  font-size: 1.2em;
  color: white;
  margin: 0 0 0.7em 0;
}

label {
  color: $primary;
  font-size: 1em;
  margin: 0 0 0.7em 0;
  font-weight: 600;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 50px 300px 50px;
  @include media-breakpoint-up(lg) {
    padding: 200px 50px 300px 50px;
  }


}

.section-content {
  @include section-width();
  display: flex;
  flex-direction: column;
  //gap: 50px;
}

.button {
  text-decoration: none;
  background-color: $button-bg;
  border: 0;
  border-radius: 15px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-out;
  color: $button-text;
  font-family: $font;
  font-size: 1em;
  font-weight: 700;
  transition: 0.2s ease-out;
  &:hover {
    cursor: pointer;
    background-color: $button-bg-hover;
    color: $button-text-hover;
  }
}

// Custom Scrollbar
/* For WebKit-based browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 8px;
  background-color: $scrollbar-bg; /* White with half opacity */
  padding: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  padding-left: 5px;
  background-color: $scrollbar-color; /* White */
  transition: background-color 0.2s ease-out;
  &:hover {
    background-color: $primary;
    cursor: pointer;
  }
}