// Breakpoints
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1400px;

// Colors
$primary: #987AB5;
$secondary: #D23C73;
$bg-dark: #0D0913;
$bg-light: #F2F2F2;
$text-medium: #969696;
$white: #FFFFFF;
$nav-bg: #251B2F;
$card-bg: #16101F;
$card-bg-hover: #221a2e;

$section1: #2C2C33;

// Font Sizes
$text: 1em;

$border-radius: 10px;