// Breakpoints
$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1400px
);

$hero-width: 2000px;

// Colors
$primary: #899C40;
$primary-hover: #9fb153;
$secondary: #DBBC7F;
$bg-dark: #22282C;
$bg-light: #2F363B;
$bg-light-hover: #323a3f;
$text-medium: #7F897D;
$text-medium-hover: #b9c8b7;
$white: #FFFFFF;
$nav-bg: $bg-light;
$card-bg: $bg-light;
$card-bg-hover: $bg-light-hover;
$button-bg: $bg-light;
$button-bg-hover: $primary-hover;
$button-text: $text-medium; 
$button-text-hover: $bg-light-hover;
$tag-bg: $bg-light;
$tag-text: $text-medium;
$scrollbar-bg: $bg-light;
$scrollbar-color: $text-medium;
$form-text: $text-medium;
$form-text-focus: $text-medium-hover;


$section1: $bg-dark;
$skills-bg: #1a1e21;

// Font
$font: 'Comme', sans-serif;
$text: 1em;

$border-radius: 10px;


$content-width-desktop: 875px;