// Breakpoints
$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1400px
);


// Colors
$primary: #987AB5;
$secondary: #D23C73;
$bg-dark: #0D0913;
$bg-light: #F2F2F2;
$text-medium: rgba(255, 255, 255, .4);
$white: #FFFFFF;
$nav-bg: #251B2F;
$card-bg: #31214b; //16101F
$card-bg-hover: #221a2e;
$button-bg: #251B2F;
$button-bg-hover: #342742;
$button-text: #564367; 
$button-text-hover: #837294;
$tag-bg: rgba(255,255,255,0.05);
$scrollbar-bg: #0D0913;
$scrollbar-color:rgba(255, 255, 255, 0.307);

$section1: #2C2C33;
$skills-bg: #130F1A;

// Font
$font: 'Comme', sans-serif;
$text: 1em;

$border-radius: 10px;


$content-width-desktop: 875px;