@use 'src/styles/variables' as var;

.contact {
  .heading {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 40px;
  }
  a {
    color: rgba($color: var.$primary, $alpha: 1);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.sender-name {
  grid-area: name;
}
.sender-email {
  grid-area: email;
}
.sender-message {
  grid-area: message;
}
.sender-name {
  grid-area: name;
}
.sender-submit {
  grid-area: submit;
}

.contact-form {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    'name email'
    'message message'
    'submit submit'
  ;
  .form-item {
    display: flex;
    flex-direction: column;
  }
  .form-field {
    background-color: var.$card-bg;
    border: 0;
    border-radius: 10px;
    color: rgba($color: white, $alpha: 0.4);
    padding: 20px 20px;
    transition: outline 0.2s, color 0.2s;
    outline: 2px solid rgba($color: var.$primary, $alpha: 0);
    font-family: var.$font;
    font-size: 1em;
    &:focus {
      outline: 2px solid rgba($color: var.$primary, $alpha: 0.7);
      color: rgba($color: white, $alpha: 0.7);
    }
  }
  .sender-message {
    margin-bottom: 20px;
  }
  textarea {
    resize: none;
    overflow-y: hidden;
  }
}