@use 'src/styles/variables' as var;
@use 'src/styles/mixins' as *;

.nav-mobile {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  @include media-breakpoint-up(lg) {
    display: none;
  }
  * {
    pointer-events: all;
  }
}

.menu-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background: var.$primary;
  border: 0;
  width: 63px;
  height: 63px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.30);
  border-radius: 50%;
  z-index: 6;
  &:hover {
    cursor: pointer;
  }
  
  .toggle-line {
    background-color: white;
    height: 3px;
    width: 24px;
    position: absolute;
    transition: top 0.1s 0.1s ease-in, transform 0.1s ease-in, width 0.1s ease-in;
  }
  $offset: 22px;
  .toggle-line-1 {
    top: calc($offset + 0px);
    
  }
  .toggle-line-2 {
    top: calc($offset + 8px);
  }
  .toggle-line-3 {
    top: calc($offset + 16px);
  }
}

.nav-content {
  background-color: var.$bg-dark;
  position: relative;
  top: 0;
  left: 100%;
  height: 100svh;
  z-index: 5;
  transition: 0.3s ease-out;
  display: flex;
  flex-direction: column;
  padding: 110px 20px 20px 20px;
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: flex;
  }
  li a {
    text-decoration: none;
    color: var.$text-medium;
    font-size: 1.3em;
    font-weight: 600;
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 10px;
    &:active {
      background-color: var.$card-bg-hover;
    }
  }
  .active {
    background-color: var.$card-bg-hover;
    -webkit-tap-highlight-color: transparent;
  }
}

.nav-mobile.open {
  .toggle-line {
    transition: top 0.1s ease-out, transform 0.2s 0.1s ease-out, width 0.2s 0.1s ease-out;
    top: 30px;
  }
  .toggle-line-1 {
    transform: rotate(45deg);
  }
  .toggle-line-2 {
    width: 0px;
  }
  .toggle-line-3 {
    transform: rotate(-45deg);
  }
}

.nav-mobile.open {
  width: 100%;
  height: 100%;
  .nav-content {
    left: 0;
  }
}

.btn-resume-mobile {
 position: absolute;
 bottom: 150px;
 width: calc(100% - 80px);
 height: 60px;
}